@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Anton', sans-serif;
	margin: 0;
}
.leftside {
	float: left;
	background-size: 100%;
	
}

.rightside {
	float: right;
	background-size: 100%;
}
nav {
    font-family: 'Libre Baskerville', sans-serif;
	background-color: #519dcc;
	height: 50px;
	padding-top: 1px;
	font-size: 16px;
}

p, h1 {
	padding-left: 5px;
}

a {
	text-decoration: none;
	color:#525151;
	font-weight: bold;
}
a:hover {
	color:#7E4ED7;
}

header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #9ed5f7;
	text-align: center;
	font-size: 24px;
}

.title {
	font-size: 28px;
	font-weight: bold;
}

span {
	font-weight: bold;
}

div {
	border-top: solid 1px green;
}

.pageShell{
  margin: 0 auto;
  width: 880px;
}

